name: Build & Push Docker

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        description: "The version to build"

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            GIT_COMMIT=${{ github.sha }}
            BUILD_TAG=angus:v${{ inputs.version }}
            TRAVELAPS_PACKAGES_GLOBAL_PAT=${{ secrets.PACKAGES_GLOBAL_PAT }}
          tags: |
            ghcr.io/${{ vars.CRNAME }}/angus:latest
            ghcr.io/${{ vars.CRNAME }}/angus:v${{ inputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
