name: Create Release Branch

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        description: "The version for the branch"

jobs:
  create-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create release branch
        env:
          VERSION: ${{ inputs.version }}
        run: |
          BRANCH_NAME="release-v$VERSION"
          echo "Creating branch $BRANCH_NAME"
          git checkout -b "$BRANCH_NAME"
          git push origin "$BRANCH_NAME"
