name: Semantic Release

on:
  workflow_call:
    outputs:
      new_release_published:
        description: "Whether a new release was published"
        value: ${{ jobs.semantic-release.outputs.new_release_published }}
      new_release_version:
        description: "The new release version"
        value: ${{ jobs.semantic-release.outputs.new_release_version }}
      new_release_major_version:
        description: "The new release major version"
        value: ${{ jobs.semantic-release.outputs.new_release_major_version }}
      new_release_minor_version:
        description: "The new release minor version"
        value: ${{ jobs.semantic-release.outputs.new_release_minor_version }}
      new_release_patch_version:
        description: "The new release patch version"
        value: ${{ jobs.semantic-release.outputs.new_release_patch_version }}
      changelog_diff:
        description: "The changelog diff"
        value: ${{ jobs.semantic-release.outputs.changelog_diff }}

jobs:
  semantic-release:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: Semantic Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      new_release_published: ${{ steps.semantic.outputs.new_release_published }}
      new_release_version: ${{ steps.semantic.outputs.new_release_version }}
      new_release_major_version: ${{ steps.semantic.outputs.new_release_major_version }}
      new_release_minor_version: ${{ steps.semantic.outputs.new_release_minor_version }}
      new_release_patch_version: ${{ steps.semantic.outputs.new_release_patch_version }}
      changelog_diff: ${{ steps.get_changelog.outputs.changelog_diff }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@v3
        with:
          node-version: "lts/*"

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        id: semantic
        with:
          semantic_version: 24
          extra_plugins: |
            @semantic-release/commit-analyzer@13
            @semantic-release/release-notes-generator@14
            @semantic-release/changelog@6
            @semantic-release/git@10
            @semantic-release/exec@7
            @semantic-release/github@11
            @semantic-release/npm@12
          branches: |
            [
              'master'
            ]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Do something when a new release published
        if: steps.semantic.outputs.new_release_published == 'true'
        run: |
          echo "Version: ${{ steps.semantic.outputs.new_release_version }}"
          echo "Major: ${{ steps.semantic.outputs.new_release_major_version }}"
          echo "Minor: ${{ steps.semantic.outputs.new_release_minor_version }}"
          echo "Patch: ${{ steps.semantic.outputs.new_release_patch_version }}"
          echo "CHANGELOG: ${{ steps.semantic.outputs.changelog }}"

      - name: Get last CHANGELOG diff
        id: get_changelog
        run: |
          echo "Getting last CHANGELOG diff..."
          changelog=$(git diff HEAD~1 HEAD -- CHANGELOG.md | grep '^+' | tail -n +3 | sed 's/^+//' | sed 's/$/\\n/')
          changelog=$(echo "$changelog" | head -n -1)
          echo "$changelog"
          echo "changelog_diff<<EOF" >> $GITHUB_OUTPUT
          echo "$changelog" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
